:root {
  --primary-color: #0D2E4F;
  --background-color: #F2EEE9;
  --secondary-color: #AA9E8E;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-light: 300;

/* Base font sizes */
--h1-size-desktop: 4.5rem; /* Approx 72px */
--text-size-desktop: 1.5rem; /* Approx 24px */
--footer-text-desktop: 0.875rem; /* Approx 14px */

--h1-size-tablet: 3.5rem;
--text-size-tablet: 1.25rem;
--footer-text-tablet: 0.8rem;

--h1-size-mobile: 2.5rem;
--text-size-mobile: 1rem;
--footer-text-mobile: 0.75rem;

/* Spacing */
--content-padding-desktop: 4rem;
--content-padding-tablet: 3rem;
--content-padding-mobile: 1.5rem;


--animation-duration: 0.5s;
--animation-ease: ease-in-out;
--float-animation: float 3s ease-in-out infinite;

}

/* General Styles */
body {
  font-family: 'Source Sans Pro', serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: var(--text-size-desktop);
  font-weight: var(--font-weight-regular);
  line-height: 1.3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.bold {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight-bold);
}

.main-content {
  position: absolute;
  bottom: var(--content-padding-desktop);
  left: var(--content-padding-desktop);
  right: var(--content-padding-desktop);
  z-index: 10;
}

.main-content header h1,
.main-content header p {
  margin: 0;
  color: var(--primary-color);
}

.main-content header h1 {
  font-family: 'Lato', sans-serif;
  font-size: var(--h1-size-desktop);
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
}

.main-content header p {
  font-size: var(--text-size-desktop);
}

.main-content footer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.main-content footer .copyright {
  font-size: var(--footer-text-desktop);
  color: var(--secondary-color);
  opacity: 0.7;
  text-align: right;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a:not(:last-child) {
  margin-right: 1.7rem;
}

.icon-style {
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: transform var(--animation-duration) var(--animation-ease);
}

.icon-style:hover {
  color: #1c4f82;
}

/* Shape Area */
.shape-area {
  position: absolute;
  top: var(--content-padding-desktop);
  right: var(--content-padding-desktop);
  width: 48vw;
  height: 50vh;
  max-width: 600px;
  max-height: 812px;
  z-index: 5;
}

.geometric-shape {
  position: absolute;
  opacity: 0;
  display: block; /* Helps with positioning and prevents extra space below inline images */
  max-width: 300px; /* Example: Limit the maximum width of the shapes */
  height: auto;
}

/* Shape Styles */
.shape-radial,
.shape-x,
.shape-squiggle,
.shape-triangle,
.shape-star,
.shape-dots {
  animation: fadeIn var(--animation-duration) var(--animation-ease) forwards;
}

.shape-radial {
  top: 0;
  right: 100%;
  height: auto;
}
.shape-dots {
  top: 0;
  right: 8rem;
  height: auto;
}
.shape-triangle {
  top: 7rem;
  right: 0;
}
.shape-squiggle {
  top: 14rem;
  right: 18rem;
  height: auto;
}
.shape-x {
  top: 100%;
  right: 28rem;
}
.shape-star {
  top: 52%;
  right: 2rem;
}


/* Keyframe Animations */
@keyframes fadeIn {
  from {
    opacity: 0;;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInTilt {
  from {
    opacity: 0;
    transform:rotate(30deg) translateX(20%);
  }
  to {
    opacity: 1;
    transform:rotate(0deg)translateX(0);
  }
}

@keyframes fadeInSlideRight {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotateFadeIn {
    from {
        opacity: 0;
        transform: rotate(-180deg); /* Start rotated */
    }
    to {
        opacity: 1;
        transform: rotate(0deg); /* End at no rotation */
    }
}


@keyframes occasionalSpin {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(360deg); } /* Spin completes within the first 20% of the animation duration */
    100% { transform: rotate(360deg); } /* Stay at the final rotation (visually 0deg) for the rest of the duration (the pause) */
}

@keyframes occasionalShrink {
    0% { transform: scale(1); } 
    5% { transform: scale(0.75); } 
    10% { transform: scale(1.1); }
    12% { transform: scale(1); }
    100% { transform: scale(1); } /* Stay at original position for the rest of the duration (the pause) */
}

@keyframes occasionalSpinScale {
    0% { transform: scale(1) rotate(0deg); }
    10% { transform: scale(0.75) rotate(180deg); } /* Spin completes within the first 20% of the animation duration */
    20% { transform: scale(1) rotate(0deg); }
    100% { transform: scale(1) rotate(0deg); } /* Stay at the final rotation (visually 0deg) for the rest of the duration (the pause) */
}

@keyframes float {
  0% {
    transform: translateY(0px); /* Start at original position */
  }
  50% {
    transform: translateY(-5px); /* Move up by 10 pixels */
  }
  100% {
    transform: translateY(0px); /* Return to original position */
  }
}

/* --- Apply Animations to Shapes --- */

.shape-radial {
    animation: 
        rotateFadeIn var(--animation-duration) var(--animation-ease) forwards,
        occasionalSpinScale 5s ease-in-out infinite 8s;
    animation-delay: 0.2s;
}

.shape-dots {
    animation: 
        rotateFadeIn var(--animation-duration) var(--animation-ease) forwards,
        occasionalShrink 8s ease-in-out infinite 10s;
    animation-delay: 0.7s;
}

.shape-x {
    animation: 
        rotateFadeIn var(--animation-duration) var(--animation-ease) forwards,
        occasionalSpin 3s ease-in-out infinite 6s;
    animation-delay: 0.4s;
}

.shape-triangle {
    animation: 
        fadeInTilt var(--animation-duration) var(--animation-ease) forwards,
        var(--float-animation);
    animation-delay: 0s, 0.9s;
}

.shape-squiggle {
  animation: 
    fadeInSlideRight var(--animation-duration) var(--animation-ease) forwards, /* Fade-in and slide */
    var(--float-animation); /* Floating effect */
  animation-delay: 0s, 0.6s; /* Delay for each animation */
}

.shape-star {
    animation: 
        fadeIn var(--animation-duration) var(--animation-ease) forwards,
        var(--float-animation);
    animation-delay: 0.2s, 1.1s;
}


/* Responsive Styles */
@media (max-width: 1279px) {
  .main-content {
    bottom: var(--content-padding-tablet);
    left: var(--content-padding-tablet);
    right: var(--content-padding-tablet);
  }

  .main-content header h1 {
    font-size: var(--h1-size-tablet);
  }

  .main-content header p {
    font-size: var(--text-size-tablet);
  }

  .main-content footer .copyright {
    font-size: var(--footer-text-tablet);
  }

  .shape-area {
    top: var(--content-padding-tablet);
    right: var(--content-padding-tablet);
    width: 48vw;
    height: 50vh;
  }

.shape-dots {
  right: 0rem;
}
.shape-triangle {
  right: -6rem;
}
.shape-squiggle {
  right: 14rem;
}
.shape-x {
  right: 24rem;
}
.shape-star {
  right: -4rem;
}
}

@media (max-width: 799px) {
  .main-content {
    bottom: var(--content-padding-mobile);
    left: var(--content-padding-mobile);
    right: var(--content-padding-mobile);
  }

  .main-content header h1 {
    font-size: var(--h1-size-mobile);
  }

  .main-content header p {
    font-size: var(--text-size-mobile);
  }

.main-content footer {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
  }

  .main-content footer .copyright {
    font-size: var(--footer-text-mobile);
    text-align: left;
    margin-top: 0.6rem;
  }

  .shape-area {
    top: var(--content-padding-mobile);
    right: var(--content-padding-mobile);
    width: 40vw;
    height: 30vh;
    scale: 0.6;
  }

  .shape-dots {
  right: -3.5rem;
}
.shape-squiggle {
  right: 9rem;
}
.shape-x {
  top: 26rem;
  right: 12rem;
}
.shape-star {
    top: 24rem;
    right: -2rem;
}
}
